article {
    margin-top: 50px;
}

.flexslider h2 {
    font-family: 'Amiri', serif;
    position: absolute;
    font-size: 4.8rem;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.container {
    display: flex;
    padding-top: 30px;
}

ul.sort {
    width: 20%;
    /* text-align: center; */
    /* border: 1px solid black; */
    height: 100%;
    /* margin-left: 100px; */
}

ul.sort li>a {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 600;
    display: block;
    font-family: 'Shippori Mincho B1', serif;
    padding: 15px 0;
    /* padding-left: 100px; */
    color: black;
    position: relative;
    border-bottom: 1px solid rgba(189, 189, 189, 0.645);
    /* margin-bottom: 10px; */
}

ul.sort li a::after {
    content: "+";
    display: block;
    /* border-bottom: 1px solid rgba(189, 189, 189, 0.645); */
    /* padding-top: 10px; */
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 5px;
}
ul.sort li a.-on::after{
    content: "";
    display: block;
    /* border-bottom: 1px solid rgba(189, 189, 189, 0.645); */
    /* padding-top: 10px; */
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 5;
    height: 1px;
    width: 12px;
    background-image: url(../images/productlist/Line\ 257.png);
}



ul.sort li p {
    /* font-family: 'Shippori Mincho B1', serif;
    font-size: 4.8rem; */
    /* background-color: #c9c9c9; */
    /* background-image: linear-gradient(rgb(101, 101, 101), rgb(177, 177, 177), left right);
    color: rgb(0, 0, 0);
    display: block;
    padding-bottom: 10px; */
    /* padding-left: 100px; */
}


/*product...................................*/


ul.product {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
}

ul.product li {
    max-width: 31.3333%;
    margin-bottom: 50px;
}

ul.product li img {
    width: 100%;
}

ul.product li h3 {
    font-size: 2.8rem;
    font-family: 'Shippori Mincho B1', serif;
    margin: 10px 0 15px 0;
    /* margin-left: 10px; */
}

ul.product li p {
    font-size: 2rem;
    font-family: 'Amiri', serif;
}

ul.product li p span {
    margin-left: 5px;
}

ul.product li.page {
    font-size: 0;
}

/* ul.product li.page a{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #CFCFCF;
    color: black;
    font-size: 2.4rem;
    display: inline-block;
}
ul.product li.page a:hover{
    background-color: black;
    color: white;
} */
/*page....................................*/

div.page {
    font-size: 0;
    float: right;
}

div.page a {
    text-decoration: none;
    /* background-color: #CFCFCF; */
    color: black;
    font-size: 2.4rem;
    padding: 10px 10px;
    font-family: 'Amiri', serif;
    position: relative;
    font-weight: 500;
}

div.page a:nth-child(1) {
    font-weight: 700;
}

div.page a:nth-child(1)::after {
    content: "";
    height: 3px;
    width: 80%;
    display: block;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

div.page a:hover {
    color: gray;
}

div.page a:nth-child(1):hover {
    color: black;
}

div.page a:nth-child(6):after {
    content: ">";
    display: block;
    position: absolute;
    top: 17px;
    right: 0;
}



section.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2 {
    font-size: 4.8rem;
    font-family: 'Shippori Mincho B1', serif;
}

.title div.sort label {
    font-size: 2rem;
    font-family: 'Shippori Mincho B1', serif;
    margin-right: 5px;
}

.title div.sort {
    align-self: flex-end;
}

select#sort {
    padding: 5px;
    font-size: 1.6rem;
    font-family: 'Shippori Mincho B1', serif;
}

.innerblock1{
    border: 1px solid black;
    display: none;
}
.innerblock1 a.innerlink{
    font-family: 'Shippori Mincho B1', serif;
    font-size: 1.8rem ;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color: black;
}

.innerblock2{
    border: 1px solid black;
    display: none;
}
.innerblock2 a.innerlink{
    font-family: 'Shippori Mincho B1', serif;
    font-size: 1.8rem ;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color: black;
}
.innerblock3{
    border: 1px solid black;
    display: none;
}
.innerblock3 a.innerlink{
    font-family: 'Shippori Mincho B1', serif;
    font-size: 1.8rem ;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color: black;
}

.innerblock4{
    border: 1px solid black;
    display: none;
}
.innerblock4 a.innerlink{
    font-family: 'Shippori Mincho B1', serif;
    font-size: 1.8rem ;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color: black;
}
.innerblock5{
    border: 1px solid black;
    display: none;
}
.innerblock5 a.innerlink{
    font-family: 'Shippori Mincho B1', serif;
    font-size: 1.8rem ;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color: black;
}
.innerblock6{
    border: 1px solid black;
    display: none;
}
.innerblock6 a.innerlink{
    font-family: 'Shippori Mincho B1', serif;
    font-size: 1.8rem ;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    color: black;
}

section.phone-sec1{
    display: none;
}

section.phone-sec2{
    display: none;
}

section.phone-sec3{
    display: none;
}

@media screen and (max-width:415px){
    section.phone-sec3{
        display: block;
    }
    footer.phone-footer{
        overflow: hidden;
    }
    div.flexslider{
        display: none;
    }
    .container{
        display: none;
    }
    .title h2{
        display: none;
    }
    div.sort{
        display: none;
    }
    div.page{
        float: none;
        text-align: center;
    }
    section.phone-sec1{
        display: block;
        padding-top: 100px;
        padding: 100px 10px 0 10px;
    }
    section.phone-sec1 h2{
        text-align: center;
        font-size: 2.8rem;
        font-family: 'Amiri', serif;
        position: relative;
        top: 14px;
        font-weight: 500;
    }

    .phone-sec1 div.sec1-pic{
        background-image: url(../images/contact/1.png);
        width: 100%;
        height: 47vw;
        min-height: 490px;
        background-size: cover;
        background-position: center;
    }



    section.phone-sec2{
        display: block;
        justify-content: center;
        display: flex;
        margin-bottom: 50px;
        font-family: 'Shippori Mincho B1', serif;
        margin-top: 50px;
    }

    div.sort-left{
        width: 35%;
        margin: 0 2.5%;
    }
    div.sort-left label{
        font-size: 2rem;
    }
    div.sort-right label{
        font-size: 2rem;
    }
    div.sort-right{
        width: 35%;
        margin: 0 2.5%;
    }
    select#left-select{
        font-family: 'Shippori Mincho B1', serif;
        width: 100%;
        margin-top: 10px;
        padding: 5px;
    }
    select#right-select{
        font-family: 'Shippori Mincho B1', serif;
        width: 100%;
        margin-top: 10px;
        padding: 5px;
    }
    div.page{
        margin-bottom: 20px;
    }

    section.phone-sec3{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    div.product-content{
        width: 45%;
        margin-bottom: 20px;
    }
    div.product-content img{
        width: 100%;
        display: block;
    }
    div.product-content a{
        text-decoration: none;
        color: black;
    }
    div.product-content-text h3{
        font-size: 1.6rem;
        font-family: 'Shippori Mincho B1', serif;
        font-weight: 600;
        margin: 10px 0;
    }
    div.product-content-text p{
        font-size: 1.4rem;
        font-family: 'Amiri', serif;
    }
}